/* =======
   global
========== */

@font-face {
    font-family: 'FuturaLT';
    src: url('fonts/FuturaLT.eot?#iefix') format('embedded-opentype'), url('fonts/FuturaLT.woff') format('woff'), url('fonts/FuturaLT.ttf') format('truetype'), url('fonts/FuturaLT.svg#FuturaLT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStd-Bold';
    src: url('fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/FuturaStd-Bold.otf') format('opentype'), url('fonts/FuturaStd-Bold.woff') format('woff'), url('fonts/FuturaStd-Bold.ttf') format('truetype'), url('fonts/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: 'FuturaLT'!important;
}

h1 {
    font-family: 'FuturaStd-Bold'!important;
    font-size: 5;
    color: #f45625;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'FuturaStd-Bold'!important;
}

p {
    font-size: 16px;
    letter-spacing: 1px;
}


.section {
    text-align: center;
     background-size: cover;
}

.slide {
    background-size: cover;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#header {
    position: fixed;
    width: 100%;
    display: block;
    height: 60px;
    opacity: 1;
    top: 20px;
    z-index: 9;
}

#header #logo {
    float: right;
    left: 20px;
    background-blend-mode: red;
}

nav#menu {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    text-align: center;
}

nav#menu li {
    float: left;
    display: inline-block;
    margin-left: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    text-transform: lowercase;
}

.background--light {
    color: black;
}

.background--dark {
    color: white;
}

nav#menu a {
    color: white;
    text-decoration: none;
}

nav#menu li a:hover {
    text-decoration: underline;
}

#header #logo {
    position: absolute;
    height: 60px;
    width: 200px;
}

#logo svg {
    height: 60px;
    width: 200px;
}

#footer {
    position: fixed;
    width: 100%;
    display: block;
    height: 70px;
    line-height: 70px;
    opacity: 1;
    bottom: 0;
    float: left;
    z-index: 9;
}

#footer li {
    float: left;
    display: inline;
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    text-transform: lowercase;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer li a:hover {
    text-decoration: underline;
}

#footer #donkey {
    position: fixed;
    right: 25px;
    height: 70px;
    width: 70px;
    bottom: 10px;
}
/* =======
   index
========== */

#header#section1 {
    display: none;
}

#footer#section1 {
    display: none;
}

#homewrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-bottom: 5%;
    margin-top: 5%;
}

#homewrap svg {
    width: 100%;
}

#contact-form {
    margin-bottom: 0;
}

#contact-form p {
    margin-bottom: 5px;
    color: #fff;
}

#contact-form input,
#contact-form textarea {
    border: none;
    background: #DD9E24;
    color: #FFFFFF;
    font-size: 16px;
    height: auto;
    padding: 15px;
    margin: 0;
    resize: none;
}

#contact-form input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contact-form textarea {
    width: 100%;
    resize: vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contact-form .submit {
    text-decoration: none;
    float: right;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 10px;
    text-align: center;
    width: auto;
    margin-top: 0;
}

#contact-form .submit:hover {
    text-decoration: underline;
}

#response {
    margin-top: 20px;
    color: #FFFFFF;
}

input::-webkit-input-placeholder {
    color: white !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}

input:-ms-input-placeholder {
    color: white !important;
}

textarea::-webkit-input-placeholder {
    color: white !important;
}

textarea:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}

textarea:-ms-input-placeholder {
    color: white !important;
}


/* =======
   about
========== */

#scroller {
    position: fixed;
    width: 100%;
    display: block;
    height: 60px;
    opacity: 1;
    top: 70px;
    z-index: 9; 
}

nav#scroller {
    line-height: 60px;
    text-align: center;
}

nav#scroller li {
    display: inline-block;
    margin-left: 25px;
    color: #fff;
    font-size: 20px;
    text-transform: lowercase;
}

nav#scroller a {
    color: #342e8e;
    text-decoration: none;
}

nav#scroller li a:hover {
    text-decoration: underline;
}

/* =======
   work
========== */

#foot {
    float: left;
    margin-right: 20px;
    text-align: center;
}

#foot li {
    float: left;
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 45px;
    text-transform: lowercase;
}

.logo {
    float: left;
    left: 0;
    top: 0;
}

#section1 h1 {
    color: #f45625;
    margin-top: 10%;
}

.icon i {
    position: relative;
    font-weight: 400;
    line-height: 80px;
    font-size: 100px;
    color: #f45625;
}


#section2 img {
    max-width: 400px;
    width: 100%;
}

#section2 h1 {
    color: #fff;
}

#section2 p {
    color: #fff;
}

.img-responsive {
    margin: 0 auto;
}

#section3 h1 {
    color: #fff;
}

#section3 p {
    color: #fff;
}

#section3 p b {
    color: #ffbc15;
}


#section4 b {
    color: #342E8E;
}

#section5 h1 {
    color: #ffbc15;
}

#section5 p {
    color: #ffbc15;
}

/* ==========
   responsive
============= */

#mobile-nav {
    display: none;
}

.menu-nav {
    background:url(../img/menu-mobile.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    margin: 22px 0 0 0;

    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);

    -webkit-transition: -webkit-transform 250ms ease-out 0s;
       -moz-transition: -moz-transform 250ms ease-out 0s;
         -o-transition: -o-transform 250ms ease-out 0s;
            transition: transform 250ms ease-out 0s;
}

.menu-nav.open {
    background-position: 0 -16px;

    -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
            transform: rotate(-180deg);

    -webkit-transition: -webkit-transform 250ms ease-out 0s;
       -moz-transition: -moz-transform 250ms ease-out 0s;
         -o-transition: -o-transform 250ms ease-out 0s;
            transition: transform 250ms ease-out 0s;
}

#navigation-mobile {
    display: none;
    text-align: center;
    width: 100%;
    background: #2c3e50;
    border-bottom: 1px solid #2F3238;
    position: relative;
    float: left;
    z-index: 9999;
}

#navigation-mobile li {
    list-style: none;
    border-top: 1px solid #2F3238;
}

#navigation-mobile li a{
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 0;
}

@media (min-width: 768px) and (max-width: 979px) {
    #menu {
        display: none;
    }

    #mobile-nav {
        display: block;
        float: right;
    }

    #menu-nav-mobile {
        margin: 0;
    }

    header .sticky-nav #mobile-nav,
    header .sticky-nav.stuck #mobile-nav {
        margin-right: 20px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #back-to-top {
        display: none !important;
    }

    #home-slider {
        margin-left: -20px;
        margin-right: -20px;
    }

    header .sticky-nav {
        position: relative;
    }

    header .sticky-nav,
    #navigation-mobile,
    .page,
    .page-alternate,
    #twitter-feed,
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    header .sticky-nav #logo {
        margin-left: 0;
    }

    header .sticky-nav.stuck #logo {
        margin-left: 20px;
    }

    header .sticky-nav #menu {
        margin-right: 0;
    }

    header .sticky-nav.stuck #menu {
        margin-right: 20px;
    }

    #menu {
        display: none;
    }

    #mobile-nav {
        display: block;
        float: right;
    }

    #menu-nav-mobile {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 0;
    }

    header .sticky-nav.stuck #mobile-nav {
        margin-right: 20px;
    }

    .work-nav {
        margin-bottom: 30px;
    }

    .type-work {
        background: url(../img/filter-icon.png) no-repeat;
        width: 16px;
        height: 16px;
        display: inline-block;
        text-indent: -9999px;
        margin-bottom: 0;
        position: relative;
        line-height: 10px;
    }

    .work-nav #filters,
    .work-nav #filters li {
        display: inline-block;
    }

    .work-nav #filters li {
        margin:0 10px 0 0;
    }

    .work-nav #filters li a {
        font-size: 13px;
        text-transform: uppercase;
    }

    #about .profile {
        margin-bottom: 30px;
    }

    #about .profile:last-child {
        margin-bottom: 0;
    }

    #response {
        margin-bottom: 30px;
    }

    .contact-details {
        border-top: 1px dashed #3C3F45;
        padding-top: 30px;
        text-align: center;
    }

    #contact-form .submit {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

}

@media (max-width: 480px) {
    #back-to-top {
        display: none !important;
    }

    #home-slider {
        margin-left: -20px;
        margin-right: -20px;
    }

    #home-slider ul#slide-list {
        display: none;
    }

    header .sticky-nav {
        position: relative;
    }

    header .sticky-nav,
    #navigation-mobile,
    .page,
    .page-alternate,
    #twitter-feed,
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    header .sticky-nav #logo {
        margin-left: 0;
    }

    header .sticky-nav.stuck #logo {
        margin-left: 20px;
    }

    header .sticky-nav #menu {
        margin-right: 0;
    }

    header .sticky-nav.stuck #menu {
        margin-right: 20px;
    }

    #menu {
        display: none;
    }

    #mobile-nav {
        display: block;
        float: right;
    }

    #menu-nav-mobile {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 0;
    }

    #navigation-mobile li a {
        font-size: 14px;
        padding: 12px 0;
    }

    header .sticky-nav.stuck #mobile-nav {
        margin-right: 20px;
    }


    #response {
        margin-bottom: 30px;
    }


    #contact-form .submit {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

}

@media (max-width: 320px) {
    #navigation-mobile li a {
        padding: 20px 0;
    }

}


/* Retina Display */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
     only screen and (-moz-min-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 2dppx) {

        header #logo a {
            background-image: url(../img/logo_@2x.png);
            background-size: 96px 30px;
        }

        .menu-nav {
            background-image: url(../img/menu-mobile_@2x.png);
            background-size: 16px 32px;
        }

    }


