/* =======
   global
========== */

html, body {
    height: 100%;
    font-family: 'FuturaLT'!important;
}

h1 {
font-size: 5;
color: #f45625;
margin:0;
padding:0;
text-transform: uppercase;
}

h2 {

}

@font-face {
  font-family: 'FuturaLT';
  src: url('fonts/FuturaLT.eot?#iefix') format('embedded-opentype'),  url('fonts/FuturaLT.woff') format('woff'), url('fonts/FuturaLT.ttf')  format('truetype'), url('fonts/FuturaLT.svg#FuturaLT') format('svg');
  font-weight: normal;
  font-style: normal;
}

header {
    width: 100%;
}

header .sticky-nav {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1001;
}

header .sticky-nav.stuck {
    position: fixed;
    top: 0;
    left: 0;
}


header #logo h3:hover {
    color: #c0392b;
}

nav#menu {
    float: right;
    margin-right: 20px;
    text-align: center;
}

nav#menu li {
    float:left;
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 45px;
    text-transform: lowercase;
}

nav#menu li a:hover {
    color: #000;
}

/* =======
   index
========== */

#homewrap img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 45%;
}

#contact-form {
    margin-bottom: 0;
}

#contact-form p {
    margin-bottom: 5px;
    color: #fff;
}

#contact-form input,
#contact-form textarea {
    border: none;
    background: #DD9E24;
    color: #FFFFFF;
    font-size: 16px;
    height: auto;
    padding: 15px;
    margin: 0;
    resize: none;
}

#contact-form input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contact-form textarea {
    width: 100%;
    resize: vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contact-form .submit {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 10px;
    text-align: center;
    width: auto;
    margin-top: 0;
}

#contact-form .submit:hover {
    color: #342e8e;
}

#response {
    margin-top: 20px;
    color: #FFFFFF;
}

/* =======
   about
========== */

#scroll {
    margin-right: 20px;
    text-align: center;
}

#scroll li {
    text-decoration-color:  #342e8e;
    display: inline-block;
    margin-left: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 45px;
    text-transform: lowercase; 
}

#scroll li a:hover {
    color: #000;
}

/* =======
   work
========== */

#foot {
    float: left;
    margin-right: 20px;
    text-align: center;
}

#foot li {
    float:left;
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 45px;
    text-transform: lowercase;
}

.logo {
    float:left;
    left: 0;
    top: 0;
}

	#section1{
		background-color: #ffbc15;
		padding: 5%;
	}

.icon i{
    font-weight: 400;
    line-height: 80px;
    font-size: 45px;
    color: #f45625;
}

	#section2{
		background-color: #f45625;
        padding: 5%;
	}
	#section3{
		background-color: #342e8e;
        padding: 5%;
	}
	#section4{
		background-color: #4bef91;
		padding: 5%;
	}
	#section5{
		background-color: #a31d99;
		padding: 5%;
	}
	#section6{
		background-color: #55c3f2;
		padding: 5%;
	}

	#section3 h1{
		color: #000;
	}


	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
	}

	.slide{
		background-size: cover;
	}

