/* =======
   global
========== */

html,
body {
    height: 100%;
    font-family: 'FuturaLT'!important;
}

h1 {
    font-size: 5;
    color: #f45625;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h2 {}

@font-face {
    font-family: 'FuturaLT';
    src: url('fonts/FuturaLT.eot?#iefix') format('embedded-opentype'), url('fonts/FuturaLT.woff') format('woff'), url('fonts/FuturaLT.ttf') format('truetype'), url('fonts/FuturaLT.svg#FuturaLT') format('svg');
    font-weight: normal;
    font-style: normal;
}

#header {
    position: fixed;
    width: 100%;
    display: block;
    height: 60px;
    opacity: 1;
    top: 20px;
    z-index: 9;
}

#header #logo {
    float: right;
    left: 20px;
    background-blend-mode: red;
}

nav#menu {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    text-align: center;
}

nav#menu li {
    float: left;
    display: inline-block;
    margin-left: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    text-transform: lowercase;
}


.background--light {
     color: black; 
}

.background--dark {
   color: white; 
}

nav#menu a {
    color: white;
    text-decoration: none;
}

nav#menu li a:hover {
    text-decoration: underline;
}

#header #logo {
    position: absolute;
    height: 60px;
    width: 200px;
}

#logo svg {
    height: 60px;
    width: 200px;
}

#footer {
    position: fixed;
    width: 100%;
    display: block;
    height: 70px;
    line-height: 70px;
    opacity: 1;
    bottom: 0;
    float: left;
    z-index: 9;
}

#footer li {
    float: left;
    display: inline;
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    text-transform: lowercase;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer li a:hover {
    text-decoration: underline;
}

#footer #donkey {
    position: fixed;
    right: 25px;
    height: 70px;
    width: 70px;
    bottom: 10px;
}


/* =======
   index
========== */

#header#section1 {
    display: none;
}

#footer#section1 {
    display: none;
}

#homewrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-bottom: 5%;
    margin-top: 5%;
}

#homewrap svg {
    width: 100%;
}

#contact-form {
    margin-bottom: 0;
}

#contact-form p {
    margin-bottom: 5px;
    color: #fff;
}

#contact-form input,
#contact-form textarea {
    border: none;
    background: #DD9E24;
    color: #FFFFFF;
    font-size: 16px;
    height: auto;
    padding: 15px;
    margin: 0;
    resize: none;
}

#contact-form input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contact-form textarea {
    width: 100%;
    resize: vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contact-form .submit {
    text-decoration: none;
    float:right;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 10px;
    text-align: center;
    width: auto;
    margin-top: 0;
}

#contact-form .submit:hover {
    text-decoration: underline;
}

#response {
    margin-top: 20px;
    color: #FFFFFF;
}

input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}

textarea::-webkit-input-placeholder {
color: white !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
textarea:-ms-input-placeholder {  
color: white !important;  
}
/* =======
   about
========== */

#scroll {
    margin-right: 20px;
    text-align: center;
}

#scroll li {
    text-decoration-color: #342e8e;
    display: inline-block;
    margin-left: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 45px;
    text-transform: lowercase;
}

#scroll li a:hover {
    color: #000;
}


/* =======
   work
========== */

#foot {
    float: left;
    margin-right: 20px;
    text-align: center;
}

#foot li {
    float: left;
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 45px;
    text-transform: lowercase;
}

.logo {
    float: left;
    left: 0;
    top: 0;
}

#section1 {
    background-color: #ffbc15;
    padding: 5%;
}

#section1 h1 {
    color: #f45625;
    margin-top: 10%;
}

.icon i {
    position: relative;
    font-weight: 400;
    line-height: 80px;
    font-size: 100px;
    color: #f45625;
}

#section2 {
    background-color: #f45625;
    padding: 5%;
}

#section2 .tv {
    position: relative;
    height: 400px;
    
}

#section2 img {
    display:inline-block;
    max-width: 400px;
    width: 100%;
}

#section2 .desc {
    display: block;
    position: relative;
}

#section2 h1 {
    color: #fff;
    font-weight: bolder;
}

#section2 p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.img-responsive {
    margin: 0 auto;
}

#section3 {
    background-color: #342e8e;
    padding: 5%;
}

#section3 h1 {
    color: #fff;
}

#section3 p {
    color: #fff;
}

#section3 p b {
    color: #ffbc15;
}

#section3 video {
    width: 100% !important;
    height: auto !important;
}

#section4 {
    background-color: #4bef91;
    padding: 5%;
}

#section4 b {
    color: #342E8E;
}

#section5 {
    background-color: #a31d99;
    padding: 5%;
}

#section5 h1 {
    color: #ffbc15;
}

#section5 p {
    color: #ffbc15;
}

#section6 {
    background-color: #55c3f2;
    padding: 5%;
}

#section6 h1 {
    font-weight: 700;
}

#section6 h2 {
    font-weight: 700;
}

#section7 {
    background-color: #ffbc15;
    padding: 4%;
}


/* Centered texts in each section
    * --------------------------------------- */

.section {
    text-align: center;
}


/* Backgrounds will cover all the section
    * --------------------------------------- */

.section {
    background-size: cover;
}

.slide {
    background-size: cover;
}