
@font-face {
  font-family: 'FuturaLT';
  src: url('FuturaLT.eot?#iefix') format('embedded-opentype'),  url('FuturaLT.woff') format('woff'), url('FuturaLT.ttf')  format('truetype'), url('FuturaLT.svg#FuturaLT') format('svg');
  font-weight: normal;
  font-style: normal;
}
